.container{
  width: 100%;
  padding: 100px 0;
  display: flex;
  flex-direction: column-reverse;
  gap: 100px;
}

.wrapper1, .wrapper2{
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 50px;
  color: white;
  border-radius: 5px;
  padding: 30px;
  background-image: linear-gradient(180deg, rgba(1, 18, 51, 0.9), rgba(1, 18, 51, 0.9)), url(../../public/assets/firstSec.jpg);
}

.wrapper2{
  flex-direction: row-reverse;
  background-image: linear-gradient(180deg, rgba(1, 51, 20, 0.9), rgba(1, 51, 20, 0.9)), url(../../public/assets/aboutBg.jpg);
}

.img{
  width: 100%;
  max-width: 450px;
}

.img img{
  width: 100%;
  height: fit-content;
  object-fit: contain;
  border-radius: 10px;
}

.text{
  width: 100%;
  max-width: 450px;
}

.text h2{
  font-size: 2rem;
  font-weight: 300;
  padding-bottom: 30px;
}

.text p{
  font-size: 1rem;
  font-weight: 300;
  padding-bottom: 40px;
  line-height: 1.8;
}

.text a{
  font-size: 1rem;
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 40px;
}

.text a svg{
  font-size: 2rem;
}



@media screen and (max-width: 1000px) {
.wrapper1, .wrapper2{
  flex-direction: column;
}

.text, .img{
  max-width: 100%;
}
}


@media screen and (max-width: 600px) {
.wrapper1, .wrapper2{
  padding: 20px 10px;
  gap: 30px;
}

.img img{
  border-radius: 3px;
}
}

