.container{
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap-reverse;
  flex-shrink: 0;
  gap: 100px 250px;
  padding: 100px 10px;
}

.sidebar{
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  transition: all ease .3s;
}

.sidebar a:hover{
  color: #007bff;
}

.sidebar h2{
  font-size: 2rem;
  font-weight: 400;
  padding-bottom: 15px;
  color: #000e1e;
}

.main{
  width: 100%;
  max-width: 600px;
}

.main h1{
  font-size: 2.5rem;
  font-weight: 400;
  padding-bottom: 20px;
  color: #000e1e;
}

.main p{
  font-size: 1rem;
  font-weight: 200;
  padding-bottom: 50px;
}


@media screen and (max-width: 550px) {
  .wrapper form h1{
    font-size: 6.5vw;
    padding-bottom: 20px;
  }
  }